body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  overflow: hidden;
}

.body-container {
  margin-top: 10em;
  margin-left: 10em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

form {
  display: flex;
  flex-direction: column;
}

.each-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  width: 20px;
  margin: 0 2px;
}

.each-number {
  transform: rotate(45deg);
  transform-origin: center;
  margin-top: 5px;
  /* margin-left: 15px; */
}

/* ---------------------- DARK MODE ---------------------- */
.App-Container-darkMode {
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.each-number-darkMode {
  width: 100%;
  background-color: white;
}

.each-number-darkMode > span {
  color: brown;
}


/* ---------------------- LIGHT MODE ---------------------- */
.App-Container-lightMode {
  background-color: white;
  color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.each-number-lightMode {
  background-color: black;
  width: 100%;
}

.each-number-lightMode > span {
  color: lightblue;
}
